@font-face {
  font-family: "Poppins";
  src: url("Poppins/Poppins-Medium.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.filterContainer {
  /* border: 3px solid red; */
  width: 300px;
  margin: auto;
  padding-top: 20px;
}

.filterContainer input,
.filterContainer button {
  all: unset;
  border: 1px solid gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px;
}
input {
  transition: all 0.3s ease !important;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
}

input:focus {
  box-shadow: 0px 2px 6px 2px rgb(86 78 78) !important;
}

.filterContainer button {
  width: 50px;
  text-align: center;
  background-color: rgb(28, 206, 76);
  cursor: pointer;
  margin-left: 5px;
  box-shadow: 0px 3px 6px black;
}

.filterContainer button:active {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  box-shadow: 0px 3px 6px transparent;
}

.usersContainer {
  width: 300px;
  margin: auto;
  padding-top: 20px;
}

.userItem {
  width: 250px;
  margin: 5px auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.14), 0px 3px 6px rgba(0, 0, 0, 0.28);
  border-radius: 10px;
  padding: 8px;
  line-height: 28px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
